#traffickLight{
    display: block;
    padding: 20px;
    background-color: black;
    width: 200px;
    height: 400px;
    border-radius: 15px;
    text-align: center;
}
button{
    border-radius: 100px;
    width: 75%;
    height: 100px;
    margin: 3px;
}
button:visited{
    box-shadow: 0 0 20px gold;
}
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
